{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="shugacoated Template">
    <meta name="keywords" content="shugacoated, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shugacoated | Template</title>
      <script type="text/javascript">
    let user = '{{request.user}}'

     function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
       }
       return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
</script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/css/font-awesome.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'styles/css/nice-select.css' %}" type="text/css}">
    <link rel="stylesheet" href="{% static 'styles/css/jquery-ui.min.css' %}" type="text/css}">
    <link rel="stylesheet" href="{% static 'styles/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/css/elegant-icons.css' %}" type="text/css">
        <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
        <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'images/img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span id="cartNum">{{cartItems}}</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$1501.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'images/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="signup.php"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>



    {% block content %}

    {% endblock content%}
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'images/img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@shugacoated.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to shugacoated can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
  <!-- Link back to shugacoated can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        <script type="text/javascript">

   let delivery = true
   let total = '{{order.get_cart_total|floatformat:2}}'
   let delivery_form = document.getElementById('form')

   delivery_form.addEventListener('submit', function(e){
       e.preventDefault()
       console.log('form submitted...')
   })

   document.getElementById('form-btn').addEventListener('click',function(e){

       submitFormData()

   })


   function submitFormData(){
        console.log('payment button clicked')

        let userFormData ={

            'total':total,
            'first_name':form.first_name.value,
            'last_name':form.last_name.value,
            'address':form.address.value,
            'apartment':form.apartment.value,
            'country':form.country.value,
            'city':form.city.value,
            'state':form.state.value,
            'Postcode':form.Postcode.value,
            'phone':form.phone.value,
            'email':form.email.value,
            'notes':form.notes.value,
        }


        let url ='/process_order/'
        fetch(url,{
            method: "POST",
            headers:{
                 'Content-Type':'application/json',
                 'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form':userFormData })

        })
        .then((response) => response.json())
        .then((data) => {
          console.log('success:', data);
          alert('Order completed');
          window.location.href ="{% url 'home' %}"
        })
   }
</script>
    <!-- Footer Section End -->

    <!-- Js Plugins -->

    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>